* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #a561ff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
}

.feedback-section {
  flex: 1;
  padding: 10px;
  text-align: center;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  background: #fdfdfd;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  background: #fcce9e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  background: #cfe3ff;
  color: black;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.star {
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.one {
  color: #fff4b5;
}

.two {
  color: #feffa7;
}

.three {
  color: #feee91;
}

.four {
  color: #fada7a;
}

.five {
  color: #efb036;
}
